html, body, #app {
  height: 100%;
  margin: 0;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h3 {
  color: white;
}

#app-view {
  height: 100%;
  padding: 0px;
  display: fixed;
}

/* ---- Nav Arrows ---- */

.navArrows {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 3%;
}

.nextPage {
  float: right;
  margin-right: 3%;
  display: block;
}

/* ---- Index Page ---- */

.IndexContainer {
  background-color: purple;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contentContainer {
  height: 100%;
  width: 100%;
}


.titleContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;

}

.title-mid {


}

/* ---- pages Container ---- */
.pagesContainer {
  background-color: white;
  padding: 0px;
  height: 100%;
}

/* ----- END pagesContainer END ---- */

.content {
  margin-left: 20%;
  margin right: 20%;
  width: 60%;
  display: block;
  text-align: centre;
}

.title-mid {
  color: white;
}

.nextPage {
  background-image: url(./images/coursesButtons-03.png);
  width: 116px;
  height: 96px;
}

/* ----- Page 2 styling ----- */
.instructions {
  color: blue;
}
