html, body, #app {
  height: 100%;
  margin: 0;
}

#app-view {
  height: 100%;
  padding: 0px;
  display: fixed;
}

/* TODO: find appropriate fonts and import them */
p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* ---- main heading Index Page ---- */
h3 {
  color: white;
  font-size: 2em;
}

/* ---- Nav styling ---- */

.menu-button {

}

/* ---- subNav Arrows ---- */

.navArrows {
  bottom: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  padding: 0, 0, 3%, 0;
  padding-bottom: 3%;
  display: inline-block;
}

.prevPage {
  float: left;
  margin-left: 3%;
  display: inline-block;
}

.nextPage {
  float: right;
  margin-right: 3%;
  display: inline-block;
  height: 100%;
}

/* ---- basic page styling ---- */

.pagesContainer {
  background-color: white;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.content {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  text-align: center;
  display:inline-block;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 1.5%;
}

/* ---- Index Page ---- */

.indexContainer {
  background-color: purple;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contentContainer {
  height: 100%;
  width: 100%;
}

.mainHeading {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
}


/* ----- END basic page styling END ---- */

/* ---- page-1 styling ---- */
/* should be a seperate css page
  (not enough styling atm to warrant) */

/* media query so image shrinks */
/*.megaPhone {
  width: 100%;
}*/

/* ----- Page 2 styling ----- */

ul.topicList {
  list-style: none;
  padding: 0;
}

.liContainer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.example {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.listButton {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  float:left;
  position: relative;
}

.text {
  z-index: 10;
  text-align: center;
  position: absolute;
  width: 100%;
}

.instructions {
  color: blue;
  text-align: center;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: block;
}

/* ---- Page 3 styling ----- */

.logo {

}

.yes-noContainer {
  display: block;
}

/* ---- Page 4 styling ---- */

.inputField {
  width: 80%;
  margin: 2% 10% 2% 10%;
}

/* ---- Page 5 styling ---- */

.content-box {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 40%;
  text-align: center;
}

.page5-Content-Container {
  height: 100%;
  width: 100%;
  background-color: rgb(246, 255, 232);
}

.page5-list {
  text-align: left;
  list-style-position: inside;
  /* image in slideshow was not in the assets folder */
  /* this is a placeholder */
  list-style-image: url('https://firebasestorage.googleapis.com/v0/b/wotwot-4b943.appspot.com/o/images%2FcoursesButtons-04.png?alt=media&token=9a2967b6-9333-40a1-a081-c4b2b556a4c4');l
}
